/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@media only screen and (min-width: 20rem) {


    :root {
        --link-color: #219ebc;
        --primary-color: #11526F;
        --main-color: #fff;
        --section-color: #ffddd2;
        --box-shadow: 0 0 15px #000;
        --footer: #11526F;




    }



.menu-icon {
    /* resize:30px; */
    background-color: #fff;
    color:#fff;

}


nav {
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* background-color: #caf0f8; */ background-color: var(--link-color);
    gap: 1rem;
    padding: 1em;
    font-size: 18px;
    flex-direction: row-reverse;
    color: #fff;


}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: large;
}

li{
    list-style-type: none;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
}

.link{
    margin-left: 10px;
    text-decoration: underline;
}

.link:hover{
    color: dodgerblue;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 24px;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: black;
}
.darkButton{
    border: none;
    transition: 0.7s ease;
}
.darkButton:hover{
    color: #ae2012;
}
.hamburger{
    display: none;
    cursor: pointer;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #fff; */
    background-color: black;
}


 .hamburger{
     display: block;
}
 .x-menu {
     opacity: 0%;

}
 .hamburger.active .hamb-menu{
     opacity: 0%;
}
 .hamburger.active .x-menu{
     opacity: 100%;

}
 .nav-menu{
     display: none;
}
 .nav-item{
     margin: 20px;
}
 .nav-menu.active{
     display: contents;
     justify-content: space-between;
}


.profile {
    display: grid;
    grid-column: -4/-3;
    grid-row: 1/2;
    width: 150px;
    justify-items: left;
    
    width: 136px ;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*margin-left: 0.9rem;
    gap: 1rem;
    padding: .5rem;*/
}


header {

    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    /* background-color:#11526F; */background-color: var(--primary-color);
    justify-items: center;
    color:#E6E6EA;
    /*text-align: center;*/
}

h1 {
    display: grid;
    grid-column: -3/-2;
    grid-row: 1/2;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin:auto;
    font-size: 50px;
    color: #ffecd1;

}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.herolabel {
    position: absolute;    
    top: 2em;
    left: .5em;
    background: radial-gradient(#fff, #a3bcd3);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 0;
    box-shadow: 0 0 3em #fff;
    opacity: 0.75;
    text-align: center;

}

.herolabel p {
	margin: 0;
	padding: .5em;
	font-weight: 100;
	font-size: 2rem;
	font-family: "Great Vibes", serif;
    color: yellow;

}


h2 {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    max-width: 100%;
    font-size: 29px;
    color: #3a5a40;
    /*background-color: #83D1D8;*/
    text-align: center;
    /*padding: 1rem;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    height: 10px;
    /*margin-left: 1em;*/
}
h3 {
    font-size: 20px;
    color: #fff;
    background-color: #9e2a2b;
    margin: 0em;
    border: 0.5em;
    text-align: center;
    padding: 1rem;
    /* font-display: block; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    height: 20px;
}



iframe{
    position: relative;
    width: 100%;
    height: 20em;
    
}
.map{
    text-align: center;


}

footer {
    max-width: 100%;
    /* background-color:#11526F; */ background-color: var(--footer);
    justify-items: center;
    color:#fff;
    text-align: center;
    padding: .2em;
}


p {
    max-width: 100%;
    background-color:#11526F;
    justify-items: center;
    color:#fff;
    text-align: center;
    padding: .2em;
}


main {
    display: block;
    height: auto;
    grid-template-columns: 1fr;
    flex-direction: row-reverse;
    gap: 1.5rem;
    /*margin-bottom: 50px;
    border-top-width: 100rem;*/
    padding-bottom: 0.1rem;
    padding-top: 0rem;
}

.card3 p{
    background-color:#fff;
    color: black;
    text-align: left;
    font-size: medium;
    padding: 0em;
    font-size: 18px;
    border: 0;
    margin: 10px;

}


.contact{
    border: 1px solid var(--primary-color);
    width: 100%;
    max-width: 375px;
    margin: auto;
    padding: .5em;
    border-radius: 1em;
  
}
.contact h4{
    font-size: larger;
    padding: 1em;
    margin: 0;
    text-align: center;
}

label {
    text-align: left;
    font-weight: 500;
    font-size: 1em;
    display: block;
    padding-bottom: .25em;
    padding-left: 1em;
}

label.top input, label.top select{
    display: block;
    font-size: 1em;
    border: solid 1px grey;
    border-radius: 4px;
    /* padding: .75em; */
    color: #555;
    width: 100%;
    max-width: 20em;
    background-color: rgba(0,0,0,0.1);
}

label.top input:required{
    border-left: red solid 6px;
}
label.top input:required:valid{
    border-left: green solid 6px;
}

#input.submitButton{
    border: none;
    border-radius: 1em;
    padding: .75em 1.5em;
    margin: 0 0 2em 2%;
    width: 96%;
    max-width: 20em;

}

#submitButton {
    background-color: #9c2c13;
    color: white;
    border: none;
    border-radius: 1em;
    padding: .75em 1.5em;
    margin: 0 0 2em 2%;
    width: 96%;
    max-width: 20em;

}


input {
    margin: 0;
    padding-left: 1em;
    line-height: 2.5em;
    display: block;
    margin-bottom: 1em;
    /* font-weight: 700; */
}
.rangecontainer{
    padding-left: 1em;
}
#r {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 82%;
    /* background-color: var(--primary-color); */
    
}
/* range{
    color: var(--primary-color);
} */
.ratinglabels {
    font-size: 1rem;
    /* font-weight: 700; */
    margin: 0 0 1rem 1.1rem;
    color: black;
    letter-spacing: 1.8em;
}

#rating {
    color: black;
}
/* #submit_button{
    padding: .5em;
    font-size: 1.5em;
    color: var(--text-color);
    background-color: var(--primary-color);
} */





}