@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital@1&display=swap');

:root {
 
  --primary-color: #606c38  ;
  --secondary-color: #bc6c25 ;
  --accent1-color: #dda15e;
  --accent2-color: #283618;

  
  --heading-font: "Helvetica", Arial, sans-serif;
  --paragraph-font: "Courier prime", Monaco, Monospace;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #0081A7;  /* headlines on a white background */ 
  --headline-color-on-color: #dda15e; /* headlines on a colored background */ 
  --paragraph-color-on-white: #00AFB9 ; /* paragraph text on a white background */ 
  --paragraph-color-on-color:#37a8a3 ; /* paragraph text on a colored background */ 

  --text-background-color: #ccd7e4;
  --nav-link-color: #aa4465;
  --nav-background-color: #ceeaf7;
  --nav-hover-link-color: #aa4465;
  --nav-hover-background-color: #828a95;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}


.mobile-page {
  display: block;
  width: 500px;
  height: 100px;
  margin:0 auto;
}



img {
  display: block;
  width: 500px;
  height: 700px;
  margin:0 auto;
  padding: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: left;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 0em;
    /*margin: 1em;*/
  
}


h2 {
  text-align: center;
  font-size: 50px;
  margin: 0.5em;

}

ol {
  text-align: left;

}

/*
h2 {
  text-align: left;
  font-size: 50px;
  margin: 1em;

}

h3 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: left;
  font-size: 50px;
  /*margin: 1em;

}

*/



hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  font-size: 40px;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
  text-align: left;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: rgb(127, 228, 194);
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

